@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom CSS*/
body {
    background: url(public/assets/pink-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


