@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lateef:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom CSS*/
body {
    background: url(/assets/pink-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


